body {
  margin: 0;
  font-family: sans-serif;
  color: #f52525;
}
.wrapper{
  padding: 10px;

}
.story-bar {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 15px;
  border: 2px solid black;
  border-radius: 10px;
}

.story-bar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #f87b7b;
}

.story-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(215, 153, 153);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-viewer img {
  max-height: 90vh;
  max-width: 80vw;
  border-radius: 0.8rem;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background: #fff;
  width: 0%;
  animation: fill 5s linear forwards;
}

@keyframes fill {
  from { width: 0; }
  to { width: 100%; }
}

.controls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  padding: 0 20px;
}

.controls div {
  font-size: 2.5rem;
  cursor: pointer;
}

.hidden {
  display: none;
}